@font-face {
    font-family: Parastoo;
    src: url('/font/Parastoo.eot');
    src: url('/font/Parastoo.eot?#iefix') format('FontName-opentype'),
    url('/font/Parastoo.woff') format('woff'),
    url('/font/Parastoo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Parastoo;
    src: url('/font/Parastoo-Bold.eot');
    src: url('/font/Parastoo-Bold.eot?#iefix') format('embedded-opentype'),
    url('/font/Parastoo-Bold.woff') format('woff'),
    url('/font/Parastoo-Bold.ttf') format('truetype');
    font-weight: bold;
}

.mymenu *{
    font-family: Parastoo;
}
.list-group{
    font-family: Parastoo;
}
.mymenu ul li {
    padding-top: 2px;
    padding-bottom: 1px;
}
.cross-style{
    display: none !important;
}
.menuitem div a{
    text-decoration: none;

}
.menuitem{
    list-style: none;
}
.menuitem div a h3{
    padding-top: 10px;
    color: white;
    text-align: right;
    font-size: 20px;
}
.menuitem div a h5{
    color: #777774;
    text-align: right;
    font-size: 14px;
    padding-bottom: 20px;
}

.mymenu{
    width: 100%;
}
.mymenu ul{
    width: 100%;
    padding: 0px;
}
.mymenu ul li{
    margin: 0px;
    line-height: 10px;
    padding-right: 10px;
}
#bg {
    /* The image used */

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mymenu{
    height: 100%;
    background-color: #333333;
    width: 250px;
    float: left;
    position: absolute;
    z-index: 2000;
}
.mymenu:hover{
    background-color: transparent;
}
@media screen and (min-device-width: 640px) and (orientation: landscape) {

    .mymenu {
        display: block !important;
    }
    .bm-burger-button {
        display: none !important;
    }
    .bm-menu {
        display: none !important;
    }
}
@media screen and (max-device-width: 649px)  {

    .mymenu {
        display: none !important;
    }

}

                      ::-webkit-scrollbar {
                          width: 11px;
                          height: 11px;
                      }
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
